ul {
    list-style: none; /* リストマークを非表示にする */
    padding: 0; /* パディングをリセットする */
    display: flex; /* Flexbox を有効化 */
}

li {
    margin-right: 10px; /* 隣接する要素との間隔を設定 */
}

h1 {
    color: #505050;/*文字色*/
    padding: 0.5em;/*文字周りの余白*/
    display: inline-block;/*おまじない*/
    line-height: 1.3;/*行高*/
    background: #75b2e4;/*背景色*/
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
  }
